<!-- Loop over each object in the posts array -->
{{#each posts as |posts| }}
<div class="row mb-4 posts">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/posts/{{posts.id}}">{{posts.name}}</a>
    </h2>
    <p>Posted by {{posts.user.name}} on {{format_date posts.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{posts.description}}
    </p>
  </div>
  <div>
    {{!-- {{comments.length}} comments! --}}
  </div>
</div>
{{/each}}
